<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("mycontroller",function ($scope) {
            $scope.list=[1,2,3,4,5];
            $scope.persons = [{"id":123,"name":"Jack"},
                                {"id":124,"name":"Jack1"},
                                {"id":125,"name":"Jack2"}]
        })
    </script>
</head>
<body ng-app="app" ng-controller="mycontroller">
<div ng-repeat="num in list">
    {{num}}
</div>
<div ng-repeat="p in persons">
    {{p.id}}
    {{p.name}}
</div>

</body>
</html>